@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: 'Ubuntu Mono', monospace;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #343a3f;
    color: white;
}

.logo svg {
    fill: white;
    width: 35px;
}

.nav-primary svg {
    fill: white;
    width: 30px;
}

.nav-primary ul {
    list-style-type: none;
    padding: 0;
}

.nav-primary ul li {
    display: flex;
    gap: 10px;
}

.logo {
    display: flex;
    gap: 2px;
    font-size: 1.4rem;
}

.search {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.intro-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.your-projects {
    grid-column: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
}

